<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937618756941-u6qgg7hstrujrs0gk3ferc7bcn83fsce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937618756941-u6qgg7hstrujrs0gk3ferc7bcn83fsce</string>
	<key>API_KEY</key>
	<string>AIzaSyDNWJIjreldoxN3dMDCdfHDGTRU9LibdYM</string>
	<key>GCM_SENDER_ID</key>
	<string>937618756941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team.dev6.ReJord</string>
	<key>PROJECT_ID</key>
	<string>rejord-38750</string>
	<key>STORAGE_BUCKET</key>
	<string>rejord-38750.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937618756941:ios:32ac4854d4836b4e251304</string>
</dict>
</plist>